<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">YeePaper</a>
      <%= link_to "主页", root_path, class: "navbar-brand" %>
    </div>

  </div><!-- /.container -->
</nav>
