.search-container {
  text-align: center;
  margin-top: 200px;
  .col-lg-6 {
    margin-left: 300px;
  }
}

textarea {
  width: 800px;
  min-height: 500px;
}

.search-content {
  max-height: 5em;
  overflow: hidden;
}
.search-list {
  border-bottom: 1px solid #ccc;
}
